
draft/

# bak
*.bak/

# 主题
themes/beautifulhugo-tom-base-yangchuansheng/
themes/beautifulhugo-tom-base-yangchuansheng.bak/
themes/beautifulhugo-rootsongjc/
themes/beautifulhugo
themes/beautifulhugo-tom-base-yangchuansheng.md

# org文档，是md文件的源文件
org/
# public文件夹，用于 deploy
public/

# 编辑器文件
.DS_Store
.vscode/

# hugo 临时文件
resources/

# org文档，可以是md文件的源文件
/org/
# public文件夹，用于 deploy
/public/

# 依赖包
/node_modules/

# 编辑器文件
.DS_Store
.vscode/

/deploy.sh
/tom*.sh
/configtoml/
